In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

In [4]:
from sklearn.multiclass import OneVsRestClassifier

In [5]:
from sklearn.metrics import accuracy_score

In [6]:
from sklearn.metrics import classification_report

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
pd.set_option("max_rows", None)

In [9]:
df=pd.read_csv("Skyserver.csv")

# Check The Correlation

In [10]:
def missing_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Missing Values'})
        mz_table['Attributes'] = df.nunique()
        mz_table['Data Type'] = df.dtypes
        
        mz_table = mz_table.sort_values('Attributes', ascending=False).round(1)
        
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
               )

        return mz_table

missing_values_table(df)

Your selected dataframe has 18 columns and 10000 Rows.

,Zero Values,Missing Values,% of Total Missing Values,Attributes,Data Type
dec,0,0,0.0,10000,float64
ra,0,0,0.0,10000,float64
z,0,0,0.0,9896,float64
i,0,0,0.0,9890,float64
r,0,0,0.0,9852,float64
g,0,0,0.0,9817,float64
u,0,0,0.0,9730,float64
redshift,19,0,0.0,9637,float64
specobjid,0,0,0.0,6349,float64
fiberid,0,0,0.0,892,int64
field,0,0,0.0,703,int64
plate,0,0,0.0,487,int64
mjd,0,0,0.0,355,int64
run,0,0,0.0,23,int64
camcol,0,0,0.0,6,int64
class,0,0,0.0,3,object
objid,0,0,0.0,1,float64
rerun,0,0,0.0,1,int64

In [11]:
for col in df.columns:
    if df[col].dtype=="object":
        print('**************************************',col,'******************************************')
        print()
        print('No. of unique attributes:',df[col].nunique())
        print()
        print('No. of unique attributes:',df[col].unique())
        print()

************************************** class ******************************************

No. of unique attributes: 3

No. of unique attributes: ['STAR' 'GALAXY' 'QSO']

In [15]:
df = df.drop(['objid','rerun'],axis=1)

In [16]:
df = df.round(2)

In [17]:
df.head()

,ra,dec,u,g,r,i,z,run,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,183.53,0.09,19.47,17.04,15.95,15.50,15.23,752,4,267,3.722360e+18,STAR,-0.00,3306,54922,491
1,183.60,0.14,18.66,17.21,16.68,16.49,16.39,752,4,267,3.638140e+17,STAR,-0.00,323,51615,541
2,183.68,0.13,19.38,18.19,17.47,17.09,16.80,752,4,268,3.232740e+17,GALAXY,0.12,287,52023,513
3,183.87,0.05,17.77,16.60,16.16,15.98,15.90,752,4,269,3.722370e+18,STAR,-0.00,3306,54922,510
4,183.88,0.10,17.55,16.26,16.44,16.55,16.61,752,4,269,3.722370e+18,STAR,0.00,3306,54922,512

In [39]:
def missing_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Missing Values'})
        mz_table['Attributes'] = df.nunique()
        mz_table['Data Type'] = df.dtypes
        
        mz_table = mz_table.sort_values('Attributes', ascending=False).round(1)
        
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
               )

        return mz_table

missing_values_table(df)

Your selected dataframe has 16 columns and 10000 Rows.

,Zero Values,Missing Values,% of Total Missing Values,Attributes,Data Type
ra,0,0,0.0,6665,float64
specobjid,0,0,0.0,6349,float64
dec,11,0,0.0,2121,float64
fiberid,0,0,0.0,892,int64
field,0,0,0.0,703,int64
z,0,0,0.0,687,float64
i,0,0,0.0,639,float64
r,0,0,0.0,603,float64
g,0,0,0.0,539,float64
plate,0,0,0.0,487,int64
u,0,0,0.0,402,float64
mjd,0,0,0.0,355,int64
redshift,4186,0,0.0,250,float64
run,0,0,0.0,23,int64
camcol,0,0,0.0,6,int64
class,0,0,0.0,3,object

# Assign THe Values (Input & Output)

In [18]:
df.columns

Index(['ra', 'dec', 'u', 'g', 'r', 'i', 'z', 'run', 'camcol', 'field',
       'specobjid', 'class', 'redshift', 'plate', 'mjd', 'fiberid'],
      dtype='object')

In [19]:
df_x = df.drop(['class'],axis=1)
y = df['class']

In [20]:
df_x.shape

(10000, 15)

In [21]:
y.shape

(10000,)

In [22]:
y.nunique()

3

# Evaluation

In [23]:
#Lets do standard scaling of the input variable
from sklearn.metrics import f1_score
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
def maxf1_score(clf,df_x,y):
    maxf=0
    rs=0
    for r_state in range(42,100):
        x_train,x_test,y_train,y_test=train_test_split(df_x, y,random_state = r_state,test_size=0.20,stratify=y)
        x_train, y_train = SMOTE().fit_resample(x_train, y_train)
           
        clf.fit(x_train,y_train)
        y_pred=clf.predict(x_test)
        tmp=f1_score(y_test,y_pred, average='micro')
        print("random state :",r_state," and f1 score: ",tmp)
        if tmp>maxf:
            maxf=tmp
            rs=r_state
    print()
    print("x_train :",x_train.shape[0]," y_train :",y_train.shape[0])
    print()
    print(" y_train :")
    print(y_train.value_counts())
    print()
    print(" y_test :")
    print()
    print(y_test.value_counts())
    print("x_test :",x_test.shape," y_test :",y_test.shape)
    print("maximum f1_score is at random state :",rs," and it is :",maxf)

# Decision Tree

In [24]:
#lets use decision tree classifier
from sklearn.tree import DecisionTreeClassifier
dc=DecisionTreeClassifier()
maxf1_score(dc,df_x,y)

random state : 42  and f1 score:  0.9810000000000001
random state : 43  and f1 score:  0.9825
random state : 44  and f1 score:  0.9765
random state : 45  and f1 score:  0.9805
random state : 46  and f1 score:  0.976
random state : 47  and f1 score:  0.984
random state : 48  and f1 score:  0.972
random state : 49  and f1 score:  0.977
random state : 50  and f1 score:  0.9855
random state : 51  and f1 score:  0.9825
random state : 52  and f1 score:  0.978
random state : 53  and f1 score:  0.9815
random state : 54  and f1 score:  0.9815
random state : 55  and f1 score:  0.9795
random state : 56  and f1 score:  0.982
random state : 57  and f1 score:  0.978
random state : 58  and f1 score:  0.977
random state : 59  and f1 score:  0.975
random state : 60  and f1 score:  0.976
random state : 61  and f1 score:  0.984
random state : 62  and f1 score:  0.9735
random state : 63  and f1 score:  0.9810000000000001
random state : 64  and f1 score:  0.978
random state : 65  and f1 score:  0.9810000000000001
random state : 66  and f1 score:  0.9815
random state : 67  and f1 score:  0.982
random state : 68  and f1 score:  0.98
random state : 69  and f1 score:  0.98
random state : 70  and f1 score:  0.978
random state : 71  and f1 score:  0.9835
random state : 72  and f1 score:  0.98
random state : 73  and f1 score:  0.9815
random state : 74  and f1 score:  0.9810000000000001
random state : 75  and f1 score:  0.9805
random state : 76  and f1 score:  0.983
random state : 77  and f1 score:  0.9810000000000001
random state : 78  and f1 score:  0.98
random state : 79  and f1 score:  0.98
random state : 80  and f1 score:  0.977
random state : 81  and f1 score:  0.982
random state : 82  and f1 score:  0.9805
random state : 83  and f1 score:  0.9795
random state : 84  and f1 score:  0.9775
random state : 85  and f1 score:  0.9775
random state : 86  and f1 score:  0.98
random state : 87  and f1 score:  0.984
random state : 88  and f1 score:  0.9805
random state : 89  and f1 score:  0.9795
random state : 90  and f1 score:  0.979
random state : 91  and f1 score:  0.9795
random state : 92  and f1 score:  0.9785
random state : 93  and f1 score:  0.9785
random state : 94  and f1 score:  0.9795
random state : 95  and f1 score:  0.9755
random state : 96  and f1 score:  0.9855
random state : 97  and f1 score:  0.9845
random state : 98  and f1 score:  0.9795
random state : 99  and f1 score:  0.9785

x_train : 11994  y_train : 11994

 y_train :
GALAXY    3998
QSO       3998
STAR      3998
Name: class, dtype: int64

 y_test :

GALAXY    1000
STAR       830
QSO        170
Name: class, dtype: int64
x_test : (2000, 15)  y_test : (2000,)
maximum f1_score is at random state : 50  and it is : 0.9855

In [25]:
x_train, x_test, y_train, y_test = train_test_split(df_x, y,random_state = 50,test_size=0.20)
y_pred_dc = dc.predict(x_test)

In [26]:
target_names = ['class 0', 'class 1', 'class 2']

In [27]:
y_test.nunique()

3

In [28]:
y_test.value_counts()

GALAXY    1011
STAR       832
QSO        157
Name: class, dtype: int64

In [29]:
print(classification_report(y_test, y_pred_dc, target_names=target_names))

              precision    recall  f1-score   support

     class 0       1.00      1.00      1.00      1011
     class 1       0.98      1.00      0.99       157
     class 2       1.00      1.00      1.00       832

    accuracy                           1.00      2000
   macro avg       0.99      1.00      0.99      2000
weighted avg       1.00      1.00      1.00      2000

# Random Forest

In [30]:
#lets chcek random forest also
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
parameters={"n_estimators":[10,100,500]}
rf_clf=RandomForestClassifier()
clf = GridSearchCV(rf_clf, parameters, cv=10,scoring="accuracy")
clf.fit(df_x,y)
clf.best_params_

{'n_estimators': 100}

In [31]:
rf_clf=RandomForestClassifier(n_estimators=100)
maxf1_score(rf_clf,df_x,y)

random state : 42  and f1 score:  0.9895
random state : 43  and f1 score:  0.9885
random state : 44  and f1 score:  0.987
random state : 45  and f1 score:  0.989
random state : 46  and f1 score:  0.987
random state : 47  and f1 score:  0.991
random state : 48  and f1 score:  0.9835
random state : 49  and f1 score:  0.988
random state : 50  and f1 score:  0.9915
random state : 51  and f1 score:  0.989
random state : 52  and f1 score:  0.987
random state : 53  and f1 score:  0.9855
random state : 54  and f1 score:  0.9885
random state : 55  and f1 score:  0.99
random state : 56  and f1 score:  0.9875
random state : 57  and f1 score:  0.989
random state : 58  and f1 score:  0.9845
random state : 59  and f1 score:  0.986
random state : 60  and f1 score:  0.9905
random state : 61  and f1 score:  0.9885
random state : 62  and f1 score:  0.987
random state : 63  and f1 score:  0.989
random state : 64  and f1 score:  0.9885
random state : 65  and f1 score:  0.9885
random state : 66  and f1 score:  0.99
random state : 67  and f1 score:  0.988
random state : 68  and f1 score:  0.9865
random state : 69  and f1 score:  0.9885
random state : 70  and f1 score:  0.9895
random state : 71  and f1 score:  0.9885
random state : 72  and f1 score:  0.9905
random state : 73  and f1 score:  0.9905
random state : 74  and f1 score:  0.9915
random state : 75  and f1 score:  0.986
random state : 76  and f1 score:  0.9905
random state : 77  and f1 score:  0.989
random state : 78  and f1 score:  0.9925
random state : 79  and f1 score:  0.9885
random state : 80  and f1 score:  0.989
random state : 81  and f1 score:  0.99
random state : 82  and f1 score:  0.9885
random state : 83  and f1 score:  0.988
random state : 84  and f1 score:  0.9895
random state : 85  and f1 score:  0.99
random state : 86  and f1 score:  0.9875
random state : 87  and f1 score:  0.9905
random state : 88  and f1 score:  0.985
random state : 89  and f1 score:  0.986
random state : 90  and f1 score:  0.989
random state : 91  and f1 score:  0.9885
random state : 92  and f1 score:  0.9885
random state : 93  and f1 score:  0.988
random state : 94  and f1 score:  0.9875
random state : 95  and f1 score:  0.9855
random state : 96  and f1 score:  0.989
random state : 97  and f1 score:  0.988
random state : 98  and f1 score:  0.9865
random state : 99  and f1 score:  0.9915

x_train : 11994  y_train : 11994

 y_train :
GALAXY    3998
QSO       3998
STAR      3998
Name: class, dtype: int64

 y_test :

GALAXY    1000
STAR       830
QSO        170
Name: class, dtype: int64
x_test : (2000, 15)  y_test : (2000,)
maximum f1_score is at random state : 78  and it is : 0.9925

In [32]:
x_train, x_test, y_train, y_test = train_test_split(df_x, y,random_state = 78,test_size=0.20)
y_pred_rf = rf_clf.predict(x_test)

In [33]:
target_names = ['class 0', 'class 1', 'class 2']

In [34]:
y_test.nunique()

3

In [35]:
y_test.value_counts()

GALAXY    980
STAR      853
QSO       167
Name: class, dtype: int64

In [36]:
print(classification_report(y_test, y_pred_rf, target_names=target_names))

              precision    recall  f1-score   support

     class 0       1.00      1.00      1.00       980
     class 1       0.99      1.00      0.99       167
     class 2       1.00      1.00      1.00       853

    accuracy                           1.00      2000
   macro avg       1.00      1.00      1.00      2000
weighted avg       1.00      1.00      1.00      2000

# Prediction

In [37]:
#lets make the dataframe for price_pred
prediction=pd.DataFrame(y_pred_rf,columns=["class"])

In [38]:
#Lets save the submission to csv
prediction.to_csv("skyscaper_class_Predictions.csv",index=False)